{% extends "base.html" %}

{% block title %}
HomePage
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="flash-message">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
    <script>
      // Automatically close the flash message after 5 seconds
      setTimeout(function() {
        document.getElementById('flash-message').style.display = 'none';
      }, 5000);
    </script>
  {% endif %}
{% endwith %}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        {{info}}
    </div>
</div>
{% endblock %}